
<h1>Búsquedas en la base de datos</h1>


Aún no está implementada la búsqueda compleja. De momento, tienes dos maneras de buscar
<ul>
<li><b>Con la búsqueda rápida</b>: buscará palabras contenidas en los datos personales de la experta(o). Prueba, por ejemplo con investigador(a) y verás lo que sucede</li>
<li><b>Pulsando sobre una materia</b>: mostrará todos l@s expert@s que conocen esa materia</li>
</ul>

<br/>
<b>¿Cómo te gustaría especificar la búsqueda?</b> Escríbeme un email ;)
