<h1>Gestión de la base de datos de experxs de APY Solidaridad</h1>

<div class="actions">
  <%= link_to 'Añadir una nueva materia', :controller => 'materias', :action => 'nueva' %><br/>
  <%= link_to 'Añadir una nueva experta o experto', :controller => 'expertos', :action => 'nuevo' %>
</div>