<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag 'apyweb.css' %>
    <title>Base de datos de expertas y expertos de Apy</title>
    <%= javascript_include_tag 'jquery-1.2.1.min.js' %>
    <%= javascript_include_tag 'application.js' %>
  </head>
  <body>
    <div id="page" style="border-bottom: 1em solid #24419B; background-color: #24419B;">

      <!-- areas -->
      <div id="areas">
        <div class="area" style="background-color: #24419B;">
          <a href="http://www.apysolidaridad.org/8" style="margin-top: 0; " class="selected">
          <img alt="Apy" src="/images/logo.gif" /></a>
        </div>
        <% ['#DB3D4C', '#E36C2D', '#D79625', '#D2C940', '#9FA807'].each do |color| -%>
          <div class="area" style="background-color: <%= color -%>;">
            &nbsp;
          </div>
        <% end -%>
        <div class="search_area"><label>buscar</label>
          <% form_tag(search_path,{:method => :get})  do -%>
            <%= text_field_tag :query -%><% end -%>
        </div>
      </div>
      <div id="line" style="background-color: #24419B;">&nbsp;</div>


      <!-- content -->
      <div id="main" >
        <!-- menu -->
        <div id="menu" style="">
          <ul class="depth-1" >
            <li>
              <div class="locked">Base de datos de expertas y expertos</div>
            </li>
            <ul class="depth-2" >
              <li>
                <a href="/" class="depth-3 <%= 'selected' if request.request_uri == '/'  %> ">Tod@s</a>
              </li>
              <li>
                <a href="/materias" class="depth-3 <%= 'selected' if request.request_uri == '/materias'  %>">Materias</a>
              </li>
            </ul>
          </ul>

        </div>
        <div id="content-wrapper">
          <div id="content" >
            <%= yield  -%>
          </div>
        </div>
      </div>

      <%= clear -%>
    </div>
  </body>
  </body>
</html>