<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/editar.css" />
  <title>Base de datos de expertos de Apy</title>
  <%= javascript_include_tag 'jquery-1.2.1.min.js' %>
  <%= javascript_include_tag 'application.js' %>
</head>
<body>


<div id="page">
<div id="header">
Base de datos de expertas y expertos de Apy
</div>
<div id="page_inside">
<div id="search">
búsqueda de expert@s:
<% form_tag({:controller => 'expertas', :action => 'search'},{:method => :get})  do %>
<%= text_field_tag :query %><%= submit_tag 'buscar' %>
<% end %>
</div>

<div id="controls">
|
<%= link_to 'lista de expert@s', :controller => 'expertos', :action => 'lista' %> |
<%= link_to 'lista de materias', :controller => 'materias', :action => 'lista' %> |
<% if logged_in? %>
	<%= link_to 'salir', :controller => 'cuentas', :action => 'salir' %> |
	<span style="color: orange"><%= current_user.login %> ahora puedes editar</span>
<% else %> 
	<%= link_to 'entrar', :controller => 'cuentas', :action => 'entrar' %> | 
<% end %>
</div>

<div id="flash"><%= flash[:notice] %></div>
<%= yield  %>
<div id="handwerk">
<div style="float: right;">c a l c  &nbsp;recomienda <a target="_blank" href="http://www.getfirefox.com">firefox</a></div>
hecho a mano por &nbsp;c a l c
</div>

</div>
</div>

</body>
</html>
